* {
    margin: 0;
    padding: 0;  
  }

body{
  font-family:Verdana; /*rgba(20,27,35,0,6); blue*/
  color:rgb(22, 29, 32);
}

#logo {
  padding-top: 5px;
  font-family:crimson pro;
  font-size: 30px;
  padding-left: 30px;
  float:left;
}

.dropdown {
  background-color:rgba(255,255,255,0); 
  color:rgb(255,255,255);
  position: absolute;
  top:0%; left:0%;
  width:100%;
  height:35px;
}

.dropbtn {
  float:right;
  background-color:rgb(0,0,0,0);
  color:rgb(255,255,255);
  border: none;
  font-size: 30px;
  padding-right:30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(255,255,255);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 12px; font-weight:bold;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(22, 29, 32);
  color:rgb(255,255,255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

header {
  color:white;
  position:absolute;
  top: 100px;
  right: 10%;
  font-size:15px;font-family: Verdana;font-weight: bold;
}

.placeholder {
  width:100%;
  background-color: rgb(214, 201, 177);
  float:left;
  font-size:15px;font-weight: bold;
  text-align: center;
  padding-top: 20px;padding-bottom: 20px;
}

.para {
  width:50%;
  padding-top:50%; /* padding % relative to width*/
  position:relative;
}

.text {
  top:0;left:0;bottom:0;right:0;
  position:absolute;
  text-align: center;
  padding-top:35%;
}

#para1 { float:right}
#para2 {float:left;}
#para3 {float:left;}

#logo1 {
  padding-top: 5px;
  font-family:crimson pro;
  font-size: 30px;
  padding-left: 30px;
  text-align: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

footer{
  text-align: center;
  font-family:crimson pro;
  font-size: 30px;
  background-color: red;
}
