/* ----------------------------Default settings--------------------------- */
* {
  margin: 0;
  padding: 0;  
}

body{
color:rgb(22, 29, 32);
font-family: 'Montserrat', sans-serif;
}

/* ///////////////////////////////////////////////// ALL PAGES /////////////////////////////////////////////////////*/

/* ----------------------------Loading screen--------------------------- */
.loader-container{
height:100vh;  width:100%;
background-color: rgb(20,27,35);
position:fixed;
z-index:1000000;
}

.loader{
height:200px; width:200px;
border: 5px solid; border-radius:50%; border-top-color:transparent;
position:absolute;
color:white;
margin-top: 50vh; margin-left:50%;
top:-100px; left:-100px;
animation: Loader 1.2s linear infinite;
}

@keyframes Loader{to{transform:rotate(360deg);}}

.loadtext{
position:absolute;
width:10px;
margin-top: 50vh; margin-left:50%;
top:-5px; left:-5px;
color:white;
font-family: crimson pro; font-size:20px; font-weight:bold;
animation: Loadtext 5s ease-in-out;
}

@keyframes Loadtext{
0% {opacity:0;}
100% {opacity:1;}
}

/* ----------------------------Logo with animation--------------------------- */
.logo {
color:rgb(255,255,255);
width: 50px;
padding-top: 2px; padding-left: 30px;
}

.logo span {
display: inline-block;
font-family:crimson pro; font-size: 25px; font-weight:bold;
letter-spacing: -5px;
animation: flip 3s; 
animation-iteration-count: 1; 
animation-delay: calc(.2s * var(--i))
}

@keyframes flip {0%,80% {transform: rotateY(360deg)}}

/* ----------------------------Navigation bar--------------------------- */
nav {
background-color:rgba(255,255,255,0); color:rgb(255,255,255);
position: absolute;
top:10px; left:0%;
height:35px; width:100%;
z-index:10000000;
}

#linked{
background-color:rgba(20,27,35,1);
top:0px;
padding-top: 10px; padding-bottom:10px; 
}

.nav-content li {list-style-type: none;}

.nav-content a {
text-decoration: none;
font-size: 12px; font-weight:bold;
display: block;
}

/* ----------------------------Footer--------------------------- */
footer{
  position:fixed;
  z-index:2000000;
  bottom:0;
  width:100%;
  text-align: center;
  background-color:rgba(20,27,35,1); color:rgb(255,255,255);
  font-family:crimson pro; font-size: 30px;
  padding-top:5px; padding-bottom:5px;
  grid-area:foot;
  }

/* ///////////////////////////////////////////////// HOME PAGE //////////////////////////////////////////////////*/

/* ----------------------------Background image for home page--------------------------- */
.home-hero {
  background-image: url(../images/adrien-delforge-GTNaEBVznRs-unsplash.jpg);
  background-size: cover; background-position: center;
  height:30vh; width:100%;
  padding: 25em 0;
  color: #FFF;
  }
  
  /* ----------------------------Background music for home page--------------------------- */
  .audioicon i{
  position: absolute;
  right:50px;
  margin-top: 40vh;
  color:white;
  font-size: xx-large;
  }
  
  .scrollicon i{
  position: absolute;
  margin-top:40vh; margin-left:50%;
  left:-15px;
  color:white;
  font-size: xx-large;
  }

/* ----------------------------Home page header--------------------------- */
header {
color:white;
position:absolute;
font-family: Verdana;font-weight: bold;
top:40vh; right:150px;
}

.rw-wrapper {
position:absolute;
font-family: Verdana;
top:30px; right: 10px;
}

.rw-words {
display: inline;
text-indent: 10px;
}

.rw-words-1 span {
position: absolute;
opacity: 0;
overflow: hidden;
animation: rotateWord 12s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {-webkit-animation-delay: 3s; -ms-animation-delay: 3s; animation-delay: 3s;}
.rw-words-1 span:nth-child(3) {-webkit-animation-delay: 6s; -ms-animation-delay: 6s; animation-delay: 6s;}
.rw-words-1 span:nth-child(4) {-webkit-animation-delay: 9s; -ms-animation-delay: 9s; animation-delay: 9s;}

@keyframes rotateWord {
0% {opacity: 0;}
2% {opacity: 0;-webkit-transform: translateY(-30px);transform: translateY(-30px);}
5% {opacity: 1;-webkit-transform: translateY(0px);transform: translateY(0px);}
17% {opacity: 1;-webkit-transform: translateY(0px);transform: translateY(0px);}
20% {opacity: 0;-webkit-transform: translateY(30px);transform: translateY(30px);}
80% {opacity: 0;}
100% {opacity: 0;}
}

/* ----------------------------Home page placeholder--------------------------- */
.placeholder {
width:100%;
background-color: rgb(214, 201, 177);
font-size:15px;font-weight: bold;
text-align: center;
padding-top: 20px; padding-bottom: 20px;
grid-area: placehold;
}

/* ----------------------------Home page grid section--------------------------- */
.img-wrapper {
display: inline-block;
overflow: hidden;   
}
.img-wrapper img {
transition: all .2s ease;
vertical-align:middle;
}
.img-wrapper img:hover {transform: scale(1.1);}

.para {text-justify: inter-word; text-align: center;}
.para p{font-family: 'Cantarell', sans-serif;}

#adrenalinepara {grid-area: p1;}
#surroundingspara {grid-area: p2;}
#roadtrippara {grid-area:p3;}
#cravingspara {grid-area:p4;}

#blankspace{width:100%;height:35px;}

/* ///////////////////////////////////////////////// ABOUT PAGE //////////////////////////////////////////////////*/

/* ----------------------------About section parallax image gallery--------------------------- */
.parallax {
height: 1000px;
overflow-x: hidden; overflow-y: auto;
-webkit-perspective: 150px; perspective: 150px;
}

.parallax__group {
position: relative;
height: 1000px;
-webkit-transform-style: preserve-3d; transform-style: preserve-3d;
}

.parallax__layer {
position: absolute;
top: 70px; left: 100px; right: 100px; bottom: 0;
}

.parallax__layer--fore {
-webkit-transform: translateZ(90px) scale(.7); transform: translateZ(90px) scale(.7);
z-index: 1;
}
.parallax__layer--base {
-webkit-transform: translateZ(0); transform: translateZ(0);
z-index: 4;
}
.parallax__layer--back {
-webkit-transform: translateZ(-300px) scale(2); transform: translateZ(-300px) scale(2);
z-index: 3;
}
.parallax__layer--deep {
-webkit-transform: translateZ(-600px) scale(3); transform: translateZ(-600px) scale(3);
z-index: 2;
}

#group1 {z-index: 5;}
#group2 {z-index: 2;}
#group3 {z-index: 4;}
#group4 {z-index: 3;}

.allimages{position:absolute;}
.allimages img{height:auto;}

.group1_purple {top:0%;left:-4%;}
.group1_green {top:40%;left:30%;}
.group2_orange {left:75%;}
.group2_blue {top:32%;left:55%;}
.group2_yellow {top:86%; right:26%;  }
.group3_blueSmall {top:45%; left:25%; }
.group3_red {top:80%; left:62%;}
.group4_orange {top:80%; left:78%;}
.group4_green {top:55%; left:50%;}

/* ----------------------------Header text and description above parallax gallery--------------------------- */
.abouttitle{position: absolute;}
.abouttitlevert{
position: absolute;
transform: rotate(-90deg);
}

#scrolltext{
position: absolute;
top:500px; left: 50px;
font-style: italic;
font-weight: bold;
transform: rotate(-90deg);
}

.scrolliconabt i{
  position: absolute;
  margin-top:40vh; margin-left:50%;
  left:-15px;
  color:black;
  font-size: xx-large;
}

/* ---------------------------- About section with text color change on scroll --------------------------- */
.outer-container {
/* max-width: 600px; */
margin: auto;
width: 500px;
padding: 200px 0px;
position:absolute;
top:900px;
}

.image-container {
padding-bottom:170%;
background: black;
position: relative;
overflow: hidden;
z-index: 2;
background-size: cover; background-position: center;
}

.section-title {
margin: 0;
font-size: 64px;
width: 100%;
text-align: center;
position: absolute;
top: 50%; left: -190%;
transform: translateY(-50%);
z-index: 1;
white-space: nowrap;
}

.on-dark {color: white;}

.section-title span {
margin-top: 25%;
position: relative;
display: block;
}

/* ---------------------------- About developer detailed paragraph --------------------------- */
.aboutdev{
width:270px;
padding: 30px 30px 30px 30px;
background-color: rgb(20,27,35);
text-align: justify;
color:white;
position:absolute;
margin-left:30vw;
z-index:30;
}

/* ---------------------------- Interests text animation section --------------------------- */
#interest{
font-family: 'Rock Salt', cursive; font-size:xx-large;
position:absolute;
height:100px; width:100%;
text-align: center;
}

.console-container {
font-size:40px;
text-align:center;
height:200px; width:100%;
display:block;
position:absolute;
color:black;
margin:auto;
}
.console-underscore {
display:inline-block;
position:relative;
top:-0.14em;
left:10px;
}

/* ///////////////////////////////////////////////// 4 THEME PAGES (adrenaline, surr...) //////////////////////////////////////////////////*/

/* ----------------------------Linked pages grid section--------------------------- */
.grid {
position:absolute;
top:60px;
padding:10px; padding-bottom: 50px;
background-color: white;
}

.text{
position:relative;
text-align: center;
font-size: 10px;
background-color: white; color:black;
z-index:100;
height:30px;
display:none;
margin: 0;
top: 50%; left: 50%; bottom: 35px;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
padding: 2px 5px 2px 5px;
}

.image img{margin-bottom: 10px;}
.image img:hover +.text{display: inline-block;}
.image img:hover{margin-bottom: -24px;}

/* ///////////////////////////////////////////////// CONTACT PAGE //////////////////////////////////////////////////*/
/* ----------------------------Contact header text--------------------------- */
.waviy {
display: flex;
font-size:30px;
width:100%;
justify-content: center;
align-items: center;
z-index:100000;
min-height: 30vh;
position: fixed;
top: 60px;
-webkit-box-reflect: below -150px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
font-family: Verdana;
position: relative;
display: inline-block;
color:white;
text-transform: uppercase;
animation: waviy 1s infinite; animation-delay: calc(.1s * var(--i));
z-index:100000;
}
@keyframes waviy {
0%,40%,100% {transform: translateY(0)}
20% {transform: translateY(-20px)}
}

/* ----------------------------Contact page icons with external links--------------------------- */
i{
  position: absolute;
  top:50%;
  color:rgb(20,27,35);
  }
  
  #email{left:35%;}
  #github{left:50%;}
  #linkedin{left:65%;}

/* ///////////////////////////////////////////////// EXPLORE PAGE //////////////////////////////////////////////////*/

/* ----------------------------Map--------------------------- */
#map { position: absolute; top:50px; width: 100%; height:1000px; }


/* ///////////////////////////////////////////////// RESPONSIVE QUERY SECTION //////////////////////////////////////////////////*/

/* ----------------------------Mobile query--------------------------- */
@media screen and (min-width:100px) {
.navbtn {
  background-color:rgb(0,0,0,0); color:rgb(255,255,255);
  border: none;
  font-size: 30px;
  padding-right:30px;
  position:absolute;
  top:0; right:0;
}

.nav-content {
  display:none;
  margin: 0;
  padding: 0;
  background-color: rgb(255,255,255);
  position: fixed;
  top:0; right:0;
  height: 100%; width: 200px;
  overflow: auto;
  z-index:1;
} 

.nav-content a {
  color: black;
  padding:14px;
}

.nav-content a:hover {background-color: rgb(20,27,35); color:rgb(255,255,255);}
nav:hover .nav-content {display: block;}

main{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "placehold"
    "i1"
    "p1"
    "i2"
    "p2"
    "i3"
    "p3"
    "i4"
    "p4"
    "foot";
}
.grid{column-count:2;}
.para{padding:35% 100px 35% 100px;}

.abouttitle{
  top: 350px; right: 35px;
  font-size: small;
}
.abouttitlevert{
  top: 400px; right: 10px;
  font-size: small;
}
.allimages img{width:150px;}
.group2_yellow img{width:400px;}
.section-title{font-size: 44px;}
.outer-container{width:250px;right:15vw;}
.aboutdev{top: 1520px;right:10vw;}
#interest{top:1800px;font-size: x-large;}
.console-container{top:1900px; font-size: x-large;}
}

/* ----------------------------Tablet query--------------------------- */
@media screen and (min-width:750px) {
main{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "placehold placehold"
    "i1 p1"
    "p2 i2"
    "i3 p3"
    "p4 i4"
    "foot foot";
}
.grid{column-count:3;}
.para{ padding:15% 50px 0% 50px;}

.abouttitle{
  top: 200px; right: 40px;
  font-size: large;
}
.abouttitlevert{
  top: 268px; right: 6px;
  font-size: large;
}
.allimages img{width:200px;}
.group2_yellow img{width:700px;}
.section-title{font-size:55px;}
.outer-container{width:500px;right:20vw;}
.aboutdev{top: 1850px;right:15vw;}
#interest{top:2050px;font-size: xx-large;}
.console-container{top:2150px;font-size: xx-large;}
}

/* ---------------------------Desktop query--------------------------- */
@media screen and (min-width:1400px){
#linked .nav-content {padding-top:10px;}
.navbtn {display: none;}  

.nav-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color:rgba(20,27,35,0);
  color:white;
  position: absolute;
  top:0; right:0;
  width: 800px; height: auto;
} 

.nav-content li {
  display: inline-block;
  margin-right: 5px;
}

.nav-content a {
  padding:10px;
  color: white;
}

.nav-content a:hover {border-style: solid; border-width: 1px;}
.grid{column-count:4;}
.para{padding:35% 200px 0% 200px;font-size:20px;}

.abouttitle{
  top: 200px; right: 100px;
  font-size: xx-large;
}
.abouttitlevert{
  top: 325px;
  right: 38px;
  font-size: xx-large;
}
.allimages img{width:300px;}
.group2_yellow img{width:900px;}
.outer-container{right:30vw;}
.aboutdev{right:25vw;}
}