* {
    margin: 0;
    padding: 0;  
  }

body{
  color:rgb(22, 29, 32);
  font-family:Verdana; /*rgba(20,27,35,0,6); blue*/
}

#logo {
  color:rgb(255,255,255);
  font-family:crimson pro; font-size: 30px;
  padding-top: 5px; padding-left: 30px;
}

#linked{
  background-color:rgba(20,27,35,1);
  padding-top: 4px; padding-bottom:4px;
}

nav {
  background-color:rgba(255,255,255,0); color:rgb(255,255,255);
  position: absolute;
  top:0%; left:0%;
  height:35px; width:100%;
}

.nav-content li {
  list-style-type: none;
}

.nav-content a {
  padding: 12px;
  text-decoration: none;
  font-size: 12px; font-weight:bold;
  display: block;
}

header {
  color:white;
  position:absolute;
  top: 100px; right: 10%;
  font-family: Verdana;font-weight: bold;
}

.placeholder {
  width:100%;
  background-color: rgb(214, 201, 177);
  font-size:15px;font-weight: bold;
  text-align: center;
  padding-top: 20px; padding-bottom: 20px;
  grid-area: placehold;
}

.adrenalinepara{
  padding-top:35%; padding-bottom:35%;
  text-align: center;
  grid-area: p1;
}

.surroundingspara{
  padding-top:35%; padding-bottom:35%;
  text-align: center;
  grid-area: p2;
}

.roadtrippara{
  padding-top:35%; padding-bottom:35%;
  text-align: center;
  grid-area:p3;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  text-align: center;
  background-color:rgba(20,27,35,1); color:rgb(255,255,255);
  font-family:crimson pro; font-size: 30px;
  padding-top:5px; padding-bottom:5px;
  grid-area:foot;
}

.grid {
  position:absolute;
  top:50px;
  padding:10px;
  padding-bottom: 50px;
}

.image{
  display:inline-block;
  margin-bottom: 10px;
  overflow:hidden;
}

.image img{
  transition: transform .2s;
}

.image img:hover{
  transform: scale(1.1);
}


.text{
  /* position:absolute; */
  /* margin-top:10px; */
  text-align: center;
  font-size: 10px;
  background-color:rgb(255,255,255,0.5);
  border-color:black; border-style: solid; border-width: 1px;
}


@media screen and (min-width:100px) {
  header{
    font-size:12px;
  }

  .navbtn {
    background-color:rgb(0,0,0,0); color:rgb(255,255,255);
    border: none;
    font-size: 30px;
    padding-right:30px;
    position:absolute;
    top:0; right:0;
  }
  
  .nav-content {
    display:none;
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
    position: fixed;
    top:0; right:0;
    height: 100%; width: 200px;
    overflow: auto;
    z-index:1;
  } 

  .nav-content a {
    color: black;
  }

  .nav-content a:hover {
    background-color: rgb(22, 2);
     color:rgb(255,255,255);
  }
  
  nav:hover .nav-content {
    display: block;
    /*transition*/
  }

  main{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
      "mainimg"
      "placehold"
      "i1"
      "p1"
      "i2"
      "p2"
      "i3"
      "p3"
      "foot";
  }
  .grid{
    column-count:2;
  }
}

@media screen and (min-width:700px) {
  header{
    font-size:15px;
  }

  .navbtn {
    display: none;
  }  

  .nav-content {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color:rgba(20,27,35,1);
    color:white;
    position: absolute;
    top:0; right:0;
    width: 600px; height: auto;
  } 

  .nav-content li {
    display: inline-block;
  }

  .nav-content a {
    color: white;
  }

  main{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "mainimg mainimg"
      "placehold placehold"
      "i1 p1"
      "p2 i2"
      "i3 p3"
      "foot foot";
  }
  .grid{
    column-count:3;
  }
}